APP_ENV=prod
APP_DEBUG=0
APP_TIMEZONE={{ hoddmimir_timezone }}
ENCRYPTION_KEYRING_REVISION={{ hoddmimir_encryption_keyring['revision'] }}
COLLECTOR_GRID_WIDTH_SECONDS={{ hoddmimir_collector_grid_width_seconds }}
APP_BUILD_VERSION={{ hoddmimir_data_worker_image | regex_replace('^.*@sha256:', '') }}
BACKUP_WORKER_POLL_INTERVAL_SECONDS={{ hoddmimir_backup_worker_poll_interval_seconds }}
BACKUP_EXECUTION_ENABLED={{ hoddmimir_backup_execution_enabled | bool | ternary('true', 'false') }}
