APP_ENV=prod
APP_DEBUG=0
APP_TIMEZONE={{ hoddmimir_timezone }}
ENCRYPTION_KEYRING_REVISION={{ hoddmimir_encryption_keyring['revision'] }}
COLLECTOR_GRID_WIDTH_SECONDS={{ hoddmimir_collector_grid_width_seconds }}
EVIDENCE_FRESHNESS_SECONDS={{ hoddmimir_evidence_freshness_seconds }}
PVE_STORAGE_MAX_NODE_FANOUT={{ hoddmimir_pve_storage_max_node_fanout }}
PBS_MAX_DATASTORE_FANOUT={{ hoddmimir_pbs_max_datastore_fanout }}
PBS_CONTENT_MAX_DATASTORES={{ hoddmimir_pbs_content_max_datastores }}
PBS_CONTENT_MAX_NAMESPACES_PER_DATASTORE={{ hoddmimir_pbs_content_max_namespaces_per_datastore }}
PBS_CONTENT_MAX_SNAPSHOTS_PER_NAMESPACE={{ hoddmimir_pbs_content_max_snapshots_per_namespace }}
PBS_CONTENT_MAX_TOTAL_SNAPSHOTS={{ hoddmimir_pbs_content_max_total_snapshots }}
PBS_CONTENT_NAMESPACE_BODY_BYTES={{ hoddmimir_pbs_content_namespace_body_bytes }}
PBS_CONTENT_SNAPSHOT_BODY_BYTES={{ hoddmimir_pbs_content_snapshot_body_bytes }}
MONITOR_HISTORY_OVERLAP_SECONDS={{ hoddmimir_monitor_history_overlap_seconds }}
PVE_MONITOR_PAGE_SIZE={{ hoddmimir_pve_monitor_page_size }}
PVE_MONITOR_MAX_NODES={{ hoddmimir_pve_monitor_max_nodes }}
PVE_MONITOR_ACTIVE_PAGE_CAP={{ hoddmimir_pve_monitor_active_page_cap }}
PVE_MONITOR_ARCHIVE_PAGE_CAP={{ hoddmimir_pve_monitor_archive_page_cap }}
PVE_MONITOR_REQUEST_LIMIT={{ hoddmimir_pve_monitor_request_limit }}
PVE_MONITOR_RAW_ROW_LIMIT={{ hoddmimir_pve_monitor_raw_row_limit }}
PVE_MONITOR_DISTINCT_TASK_LIMIT={{ hoddmimir_pve_monitor_distinct_task_limit }}
PVE_MONITOR_HISTORY_WINDOW_SECONDS={{ hoddmimir_pve_monitor_history_window_seconds }}
PBS_MONITOR_PAGE_SIZE={{ hoddmimir_pbs_monitor_page_size }}
PBS_MONITOR_MAX_PAGES_PER_STREAM={{ hoddmimir_pbs_monitor_max_pages_per_stream }}
PBS_MONITOR_MAX_ROWS_PER_STREAM={{ hoddmimir_pbs_monitor_max_rows_per_stream }}
PBS_MONITOR_MAX_JOBS_PER_KIND={{ hoddmimir_pbs_monitor_max_jobs_per_kind }}
PBS_MONITOR_HISTORY_WINDOW_SECONDS={{ hoddmimir_pbs_monitor_history_window_seconds }}
APP_BUILD_VERSION={{ hoddmimir_data_worker_image | regex_replace('^.*@sha256:', '') }}
BACKUP_WORKER_POLL_INTERVAL_SECONDS={{ hoddmimir_backup_worker_poll_interval_seconds }}
BACKUP_WORKER_HEARTBEAT_TTL_SECONDS={{ hoddmimir_backup_worker_heartbeat_ttl_seconds }}
BACKUP_EXECUTION_ENABLED={{ hoddmimir_backup_execution_enabled | bool | ternary('true', 'false') }}
MATRIX_NOTIFICATION_ENABLED={{ hoddmimir_matrix_notifications_enabled | bool | ternary('true', 'false') }}
MATRIX_WEBHOOK_CHANNEL={{ hoddmimir_matrix_webhook_channel }}
MATRIX_WEBHOOK_TIMEOUT_SECONDS={{ hoddmimir_matrix_webhook_timeout_seconds }}
MATRIX_WEBHOOK_URL_FILE=/run/secrets/matrix_webhook_url
