APP_ENV=prod
APP_DEBUG=0
APP_TIMEZONE={{ hoddmimir_timezone }}
COLLECTOR_INTERVAL_SECONDS={{ hoddmimir_collector_interval_seconds }}
BACKUP_WORKER_POLL_INTERVAL_SECONDS={{ hoddmimir_backup_worker_poll_interval_seconds }}
BACKUP_EXECUTION_ENABLED={{ hoddmimir_backup_execution_enabled | bool | ternary('true', 'false') }}
